fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
python-jose
pydantic
pydantic-settings
anyio
starlette
click
h11
greenlet
typing-extensions
typing-inspection
annotated-types
annotated-doc
email-validator
dnspython
pydantic-settings
python-jose
passlib[bcrypt]
email-validator
pydantic[email]
requests
tenacity==8.2.3
redis==5.0.1
